<ion-grid class="ion-no-margin container">
  <ion-col>
    <ion-row class="ion-justify-content-center">
      <ion-item>
        <ion-label position="stacked">Login</ion-label>
        <ion-input placeholder="your login" ></ion-input>
      </ion-item>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input placeholder="your password" type="password"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-button [routerLink]="['/main-buttons']">OK</ion-button>
    </ion-row>
  </ion-col>
</ion-grid>
